html, body{
    font-family: 'Heebo', sans-serif;
}

.blog-item h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.blog-item .published-date{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

.blog-item .category{
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.blog-item .pipe-line{
    border: 1px solid #000000;
    height: 21px;
    width: 0;
    margin-left: 20px;
    margin-right: 20px;
}

hr{
    border: 1px solid #E0E0E0;
}

body{
    margin: 160px 235px 235px 235px;
}

